html, body { height: 100%; }

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;

}
#first {
    padding: 5px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2) inset, 0 -1px 0 rgba(0, 0, 0, .05) inset;
}


#main {
    border-block-width: 15px;
    padding-left: 150px;
    padding-top: 30px;
}

#lbl {
    margin: 30px;
}

label {
    font-weight: bold;
}

#button {
    color: #fff;
    background-color: #0062cc;
    width: 50%;
    padding: .75rem;
    font-size: 1.3rem;
    border: black solid 2px;
    margin-top: 10%;
}

#button:hover {
    background-color: #00abff;
    color: antiquewhite;
}


#first:hover {
    border: none;
    box-shadow: 0 0 0 1px #7eb4ea inset, 0 1px 2px rgba(0,0,0,.2) inset;
}

#first:focus {
    outline: none;
    box-shadow: 0 0 0 1px #7eb4ea inset, 0 1px 2px rgba(0,0,0,.2) inset;
    transition: .2s linear;
}


@media screen and (min-width: 600px) and (min-height: 600px){
    body {
        width: 80%;
        height: 30%;
        max-width: 550px;
        margin: 2.5em auto 1em;
        padding: 1em;
        border: 1px solid #ccc;
        box-shadow: 20px -15px 10px 5px rgba(0, 0, 0, .2);
    }
}

#sel-to {

    border: solid 1px #0062cc;
    outline: 0;
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    border-radius: 80px;
    width: 70px;
    padding: 3px 5px;
    margin-left: 10px;
}

#result {

    font-weight: bold;
    margin: 30px;
    visibility:hidden;
}

#res {
    margin-top: 5%;
    margin-left: -5%;

}





