<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name = "viewport" content = "width=device-width, initial-scale = 1">
    <meta charset="UTF-8">
    <title>SMC</title>
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/choiceAddress.js"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="/css/style.css"/>
</head>
<body>
<form id="check-form" action="#" th:action="@{/smc/check}">
    <fieldset>
        <legend>Выбор адреса</legend>
        <fieldset id="house-data">
            <legend id="house-num" th:text="#{exam.house}">Данные дома:</legend>
            <div id="inner-div">
                <div id="house-check">
                    <p th:text="#{exam.check}">check</p>
                    <img th:alt="#{exam.check}" th:src="@{/images/add.png}"/>
                </div>
                <p id="house-entry" th:text="#{exam.entrance}">NA</p>
                <p id="house-sys" th:text="#{exam.system}">NA</p>
            </div>
        </fieldset>
        <select id="district" required>
            <optgroup th:label="#{exam.uzao}">
                <option id="first-option" disabled selected th:text="#{exam.choice.district}">Выберите район</option>
                <option th:each="district, stat: ${districts}"
                        th:text="${district.name}" th:value="${district.id}">art</option>
            </optgroup>
        </select><br><br>
        <select id="street" required>
            <option disabled selected th:text="#{exam.choice.street}">Выберите улицу</option>
        </select><br><br>
        <select id="house" required>
            <option disabled selected th:text="#{exam.choice.house}">Выберите дом</option>
        </select><br><br>
        <input id="btn-check" type="submit" value="Начать проверку">
    </fieldset>
</form>
</body>
</html>