<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name = "viewport" content = "width=device-width, initial-scale = 1">
    <meta charset="UTF-8">
    <title>SMC</title>
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/choiceAddress.js"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="/css/style.css"/>
    <script>

    </script>
</head>
<body>
<form id="check-form" action="#" th:action="@{/smc/check}" method="get">
    <fieldset>
        <legend>Выбор адреса</legend>
        <fieldset id="house-data">
            <legend id="house-num" th:text="#{exam.house}">Данные дома:</legend>
            <div id="inner-div">
                <div id="house-check">
                </div>
            </div>
        </fieldset>
        <select id="district" required>
            <optgroup th:label="#{exam.uzao}">
                <option id="first-option" disabled selected th:text="#{exam.choice.district}">Выберите район</option>
                <option th:each="district, stat: ${districts}"
                        th:text="${district.name}" th:value="${district.id}">art</option>
            </optgroup>
        </select><br><br>
        <select id="street" required>
            <option disabled selected th:text="#{exam.choice.street}">Выберите улицу</option>
        </select><br><br>
        <select id="house" required name="houseId">
            <option disabled selected th:text="#{exam.choice.house}">Выберите дом</option>
        </select><br><br>
        <input id="btn-check" type="submit" value="Начать проверку" disabled/>
    </fieldset>
    <fieldset id="master">
        <legend>Управление</legend>
        <a th:href="@{/add}" href="smc.html"><img th:src="@{/images/edit.png}" title="Добавить\Удалить"></a>
        <a class="back" th:href="@{/}" href="../"><img th:src="@{/images/back.png}" title="Назад"></a>
    </fieldset>
</form>
</body>
</html>